<!DOCTYPE html>
<html lang="sk">
<head>
    <meta charset="UTF-8">
    <title>Tabuľka</title>
</head>
<body>
    <table>
        <tr>
            <th>Meno</th>
            <th>Priezvisko</th>
        </tr>
        <tr>
            <td>Miloš</td>
            <td>Madro</td>
        </tr>
        <tr>
            <td>Leoš</td>
            <td>Maroš</td>
        </tr>
        <tr>
            <td>Ivan</td>
            <td>Murin</td>
        </tr>
        <tr>
            <td>Andrej</td>
            <td>Danko</td>
        </tr>
        <tr>
            <td>Robo</td>
            <td>Fico</td>
        </tr>
    </table>
</body>
</html>